.wrapBackoffice{
    margin-top: 15px;
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}
.wrapProducts{
    width:405px;
    height: 600px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}
.wrapProductsControl{
    display:flex;
    gap: 3px;
    padding:2px;
}
.wrapGroups{
    width:390px;
    height: 250px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}
.wrapUnits{
    width:390px;
    height: 250px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}
.wrapCashes{
    min-width:400px;
    height: 250px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}
.wrapChecks{
    min-width:400px;
    height: 250px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}