.modalBackground{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(250, 250, 250, 0.7);
}
.modal{
    width:400px;
    height: 500px;
    margin: 20px auto; 
    padding:5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
}
.headerWrapper{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.inputWrapper{
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    column-gap:5px;
}
.inputWrapper>*{
    width:190px;
}
.buttonWrapper{
    display:flex;
    justify-content: space-evenly;
}